<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/products.css">
    <title>Products</title>
</head>
<body>
    <h1>Products 🛒</h1>
    <div>
        <input type="text" id="addProductInput">
        <button onclick="addProduct()">Add</button>
    </div>
    <ul id="p-list">
    </ul>
    <form action="/products" method="post">
        <button on>Save</button>
    </form>
    <div class="home-link"><a href="/">Home</a></div>
    <script src="js/products.js"></script>
</body>
</html>