
:root{
    --primary: white;
    --secondary: #f6f8fa;
    --tertiary: #dddfe2;
    --table-row-hover-bg: #eaecee; 
}
body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--secondary);
    border-bottom: 1px solid var(--tertiary);
}
.logo-img{
    border-radius: 50%;
    border: 1px solid var(--secondary);
    width: 50px;
}

.welcome{
    font-weight: bold;
    font-size: 1.5rem;
}

.logout-btn{
    font-size: large;
    padding: 5px 10px;
}

main{
    width: 90vw;
    margin: 0 auto;
}


table{
    width: 100%;
    text-align: center;
    border: 1px solid var(--tertiary);
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 6px;
}

thead{
    background-color: var(--secondary);
}

thead th:first-child{
    border-top-left-radius: 6px;
}
thead th:last-child{
    border-top-right-radius: 6px;
}

td, th{
    padding: 10px;
    border-bottom: 1px solid var(--tertiary);
}

table tr:last-child td{
    border-bottom: none;
}

table tr:last-child td:first-child{
    border-bottom-left-radius: 6px;
}

table tr:last-child td:last-child{
    border-bottom-right-radius: 6px;
}

td.total{
    text-align: right;
    font-weight: bold;
    font-size: 1.5rem;
    padding-right: 40px;
}

tr:nth-child(even){
    background-color: var(--secondary);
}

tr:hover{
    background-color: var(--table-row-hover-bg);
}

.quantity{
    width: 30px;
}


.place-order-container{
    margin: 15px 40px;
    display: flex;
    justify-content: end;
}

.place-order-btn{
    font-size: large;
    font-weight: bold;
    padding: 10px 0;
    width: 150px;
}


.add-to-cart::before{
    content: url('./assets/cart.svg');
}

.validators{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}